language: r
cache: packages
latex: false
before_install:
  - R -e 'install.packages("devtools")'
  - R -e 'devtools::install_github("rstudio/tensorflow")'
  - R -e 'tensorflow::install_tensorflow(version = "1.13")'
matrix:
  include:
    - os: linux
      r: release
    - os: linux
      r: devel
